/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  /* Styling for the form */
  #updateStudentForm {
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Styling for the table */
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
  }
  
  button#updatestudent {
    background-color: #ff9800;
    color: white;
  }
  
  button#updatestudent:hover {
    background-color: #f57c00;
  }
  
  button#deleteStudent {
    background-color: #f44336;
    color: white;
  }
  
  button#deleteStudent:hover {
    background-color: #d32f2f;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    #updateStudentForm {
      width: 80%;
    }
  
    table {
      width: 100%;
    }
  
    th, td {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  